.pin {
    width: 30px;
    height: 30px;
    background-image: url(./img/pin.svg) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.wall {
    background-image: url(./img/wall.png);
    height: 20vh;
}

.board {
    background: url(./img/cork.png);
    background-size: contain;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: 80vh;
}




.polaroid {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    width: 250px;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.polaroid:hover {
    transform: rotate(45deg);
}

.polaroid:hover .pin {
    display: none;
}




.photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

h1 {
    font-family: "Edu TAS Beginner", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 60px !important;
    padding-top: 3%;
}

.data {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}